<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <div>name : <input type = "text" placeholder="이름을 입력하시오" id="name"></div>
    <div>Id : <input type = "text" placeholder="id를 입력하시오" id="id"></div>
    <div>Password : <input type = "password" placeholder="password을 입력하시오" id="pwd"></div>
    <input type="button" id="signupBtn" value="signup">
    <script type = "text/javascript" src = "/script/signup.js"></script>
</body>
</html>